In [1]:
from sqlalchemy import create_engine
import sqlalchemy
import mysql.connector
import pandas as pd
import os
from datetime import datetime

import warnings
warnings.filterwarnings("ignore")
from dotenv import load_dotenv

In [2]:
load_dotenv()
user = os.getenv('user')
senha = os.getenv('senha')
banco_de_dados = "desm2"
host = "localhost"
porta = 3306

conexao = create_engine(url=f"mysql+pymysql://{user}:{senha}@{host}:{porta}/{banco_de_dados}")

conn = mysql.connector.connect(user = user, password = senha, host = host, database = banco_de_dados)
cursor = conn.cursor()

In [3]:
os.chdir('J:/jean_/OneDrive/Cursos/MBA/Arquiteto de Big Data/DESM2/Documents/')
diretorio_atual = os.getcwd()

df = pd.read_csv('dados_jogadores.csv', sep = ';', encoding = 'latin-1')

In [4]:
df

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,NaN,80.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    object
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     491 non-null    float64
 6   num_derrotas     494 non-null    float64
 7   total_partidas   491 non-null    float64
dtypes: float64(3), object(5)
memory usage: 31.3+ KB

In [7]:
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'], format = '%d/%m/%Y')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    datetime64[ns]
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     491 non-null    float64
 6   num_derrotas     494 non-null    float64
 7   total_partidas   491 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 31.3+ KB

In [9]:
df[df.isna().any(axis = 1)]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
46,Jogador 47,Masculino,1978-01-31,Dama,Uruguai,NaN,68.0,85.0
55,Jogador 56,Feminino,1959-01-27,Dama,Paraguai,NaN,29.0,80.0
71,Jogador 72,Masculino,2005-03-27,Dama,Paraguai,29.0,7.0,NaN
86,Jogador 87,Feminino,1975-05-25,Dama,Argentina,80.0,6.0,NaN
97,Jogador 98,Feminino,1980-04-16,Dama,Paraguai,NaN,1.0,10.0
137,Jogador 138,Feminino,1963-02-16,Jogo da velha,Chile,NaN,28.0,44.0
246,Jogador 247,Feminino,1954-02-14,Dama,Argentina,33.0,NaN,89.0
251,Jogador 252,Masculino,1985-08-18,Jogo da velha,Chile,NaN,27.0,28.0
255,Jogador 256,Feminino,2000-09-28,Xadrez,Chile,1.0,NaN,73.0
287,Jogador 288,Masculino,1952-02-01,Xadrez,Brasil,3.0,NaN,17.0
323,Jogador 324,Feminino,1994-03-23,Dama,Brasil,NaN,1.0,7.0
336,Jogador 337,Masculino,1996-06-13,Dama,Argentina,36.0,NaN,64.0
372,Jogador 373,Feminino,2000-06-24,Xadrez,Paraguai,NaN,49.0,60.0
407,Jogador 408,Feminino,1970-11-23,Xadrez,Brasil,54.0,28.0,NaN
423,Jogador 424,Masculino,1998-08-21,Dama,Paraguai,47.0,30.0,NaN
453,Jogador 454,Feminino,2000-10-21,Dama,Paraguai,15.0,42.0,NaN
458,Jogador 459,Masculino,1999-06-17,Jogo da velha,Argentina,23.0,50.0,NaN
473,Jogador 474,Feminino,1977-10-22,Xadrez,Uruguai,24.0,4.0,NaN
490,Jogador 491,Masculino,1981-05-27,Dama,Argentina,16.0,1.0,NaN
492,Jogador 493,Feminino,2001-09-21,Jogo da velha,Uruguai,NaN,6.0,25.0
496,Jogador 497,Masculino,1962-01-06,Jogo da velha,Argentina,57.0,NaN,80.0

In [11]:
df_nan_num_derrotas = df[df['num_derrotas'].isna()]
df_nan_num_derrotas['num_derrotas'] = df_nan_num_derrotas['total_partidas'] - df_nan_num_derrotas['num_vitorias']
df_nan_num_derrotas

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
246,Jogador 247,Feminino,1954-02-14,Dama,Argentina,33.0,56.0,89.0
255,Jogador 256,Feminino,2000-09-28,Xadrez,Chile,1.0,72.0,73.0
287,Jogador 288,Masculino,1952-02-01,Xadrez,Brasil,3.0,14.0,17.0
336,Jogador 337,Masculino,1996-06-13,Dama,Argentina,36.0,28.0,64.0
496,Jogador 497,Masculino,1962-01-06,Jogo da velha,Argentina,57.0,23.0,80.0

In [12]:
df_nan_num_vitorias = df[df['num_vitorias'].isna()]
df_nan_num_vitorias['num_vitorias'] = df_nan_num_vitorias['total_partidas'] - df_nan_num_vitorias['num_derrotas']
df_nan_num_vitorias

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
46,Jogador 47,Masculino,1978-01-31,Dama,Uruguai,17.0,68.0,85.0
55,Jogador 56,Feminino,1959-01-27,Dama,Paraguai,51.0,29.0,80.0
97,Jogador 98,Feminino,1980-04-16,Dama,Paraguai,9.0,1.0,10.0
137,Jogador 138,Feminino,1963-02-16,Jogo da velha,Chile,16.0,28.0,44.0
251,Jogador 252,Masculino,1985-08-18,Jogo da velha,Chile,1.0,27.0,28.0
323,Jogador 324,Feminino,1994-03-23,Dama,Brasil,6.0,1.0,7.0
372,Jogador 373,Feminino,2000-06-24,Xadrez,Paraguai,11.0,49.0,60.0
492,Jogador 493,Feminino,2001-09-21,Jogo da velha,Uruguai,19.0,6.0,25.0

In [13]:
df_nan_total_partidas = df[df['total_partidas'].isna()]
df_nan_total_partidas['total_partidas'] = df_nan_total_partidas['num_vitorias'] + df_nan_total_partidas['num_derrotas']
df_nan_total_partidas

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
71,Jogador 72,Masculino,2005-03-27,Dama,Paraguai,29.0,7.0,36.0
86,Jogador 87,Feminino,1975-05-25,Dama,Argentina,80.0,6.0,86.0
407,Jogador 408,Feminino,1970-11-23,Xadrez,Brasil,54.0,28.0,82.0
423,Jogador 424,Masculino,1998-08-21,Dama,Paraguai,47.0,30.0,77.0
453,Jogador 454,Feminino,2000-10-21,Dama,Paraguai,15.0,42.0,57.0
458,Jogador 459,Masculino,1999-06-17,Jogo da velha,Argentina,23.0,50.0,73.0
473,Jogador 474,Feminino,1977-10-22,Xadrez,Uruguai,24.0,4.0,28.0
490,Jogador 491,Masculino,1981-05-27,Dama,Argentina,16.0,1.0,17.0

In [14]:
df = df.fillna(df_nan_total_partidas)

In [15]:
df = df.fillna(df_nan_num_vitorias)

In [16]:
df = df.fillna(df_nan_num_derrotas)

In [17]:
df

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-09-03,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-05-01,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-10-04,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-09-03,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-06-03,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-02-09,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-01-06,Jogo da velha,Argentina,57.0,23.0,80.0
497,Jogador 498,Masculino,1958-09-28,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-10-08,Jogo da velha,Paraguai,1.0,86.0,87.0

## Separando o DataFrame para as tabelas do SQL

In [18]:
lista_pais = list(df['pais'].unique())
lista_jogo = list(df['jogo'].unique())

In [19]:
def importacao_lista_sql(list):
    nome_tabela_sql = input('Insira o nome da tabela: ')
    for i in list:
        try:
            query = f"""INSERT INTO {nome_tabela_sql} ({nome_tabela_sql}) VALUES ('{i}')"""
            cursor.execute(query)
            conn.commit()
            print(f'Registro inserido com sucesso: {i}')        
        except Exception as e:
            conn.rollback()
            print(f'NÃ£o foi possÃ­vel inserir o registro: {i}. O erro encontrado foi {e}')

In [20]:
importacao_lista_sql(lista_pais)

In [21]:
importacao_lista_sql(lista_jogo)

In [22]:
df.to_sql('stg_jogador', con = conexao, schema = banco_de_dados)