In [48]:
import pandas as pd
import os

In [59]:
df_airports = pd.DataFrame(pd.read_csv('https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat', sep = ",", decimal = '.', header = None))

In [60]:
df_airports.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [61]:
df_airports.rename(columns = {0: 'Airport_ID', 1: 'Name', 2: 'City', 3: 'Country', 
                              4: 'IATA', 5: 'ICAO', 6: 'Latitude', 7: 'Longitude',
                              8: 'Altitude', 9:'Timezone', 10: 'DST', 11: 'Tz_database', 
                              12: 'Type', 13: 'Source'}, inplace = True)

In [62]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7698 entries, 0 to 7697
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Airport_ID   7698 non-null   int64
 1   Name         7698 non-null   object
 2   City         7649 non-null   object
 3   Country      7698 non-null   object
 4   IATA         7698 non-null   object
 5   ICAO         7698 non-null   object
 6   Latitude     7698 non-null   float64
 7   Longitude    7698 non-null   float64
 8   Altitude     7698 non-null   int64
 9   Timezone     7698 non-null   object
 10  DST          7698 non-null   object
 11  Tz_database  7698 non-null   object
 12  Type         7698 non-null   object
 13  Source       7698 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 842.1+ KB

In [108]:
df_airports['Airport_ID'].duplicated().any()

False

In [72]:
jorge_airport = df_airports[df_airports.Name == 'Jorge Newbery Airpark']
altamira_airport = df_airports[df_airports.Name == 'Altamira Airport']
dif_altitude = jorge_airport['Altitude'].values - altamira_airport['Altitude'].values

dif_altitude

array([-351])

In [137]:
df_airports[df_airports['City'] == 'Sao Paulo'].count().head(1)

Airport_ID    3
dtype: int64

In [136]:
df_airports[df_airports['Country'] == 'Brazil'].count().head(1)

Airport_ID    264
dtype: int64

In [135]:
df_airports.groupby(['City'])['Airport_ID'].nunique().sort_values(ascending = False).head(3)

City
London      9
Columbus    8
San Jose    7
Name: Airport_ID, dtype: int64

In [134]:
df_airports.groupby(['Country'])['Airport_ID'].nunique().sort_values(ascending = False).head(3)

Country
United States    1512
Canada            430
Australia         334
Name: Airport_ID, dtype: int64

In [132]:
df_airports.sort_values(by = 'Altitude', ascending = False).head(1)

,Airport_ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database,Type,Source
6542,9310,Daocheng Yading Airport,Daocheng,China,DCY,ZUDC,29.323056,100.053333,14472,8,N,Asia/Shanghai,airport,OurAirports

In [133]:
brazil_airport = df_airports[df_airports.Country == 'Brazil']
round(brazil_airport['Altitude'].mean(), 2)

1126.22

In [124]:
df_airports[df_airports.DST != '\\N']['DST'].nunique()

7

In [131]:
df_airports['Country'].nunique()

237